<!DOCTYPE html>
<html ng-app="CMSApp" ng-controller="DocController">
<head lang="en">
    <meta charset="UTF-8">


    <!-- //TODO: set the files to file.min.extension before we publish-->
    <script src="../vendor/jquery/dist/jquery.js"></script>
    <script src="../vendor/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../vendor/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="../vendor/bootstrap/dist/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="../stylesheets/style.css"/>
    <script src="../vendor/angular/angular.js"></script>
    <!-- Remember: angular first, then components files -->
    <script src="../vendor/angular-route/angular-route.js"></script>
    <script src="../vendor/angular-sanitize/angular-sanitize.js"></script>
    <script src="components/controllers.js"></script>
    <script src="components/directives.js"></script>
    <script src="components/services.js"></script>
    <script src="components/factories.js"></script>
    <script src="components/filters.js"></script>
    <script src="app.js"></script>


    <title>{{title}}</title>
</head>
<body>
<div navigation></div>

<div class="container">
    <!-- title, subtitle, author and abstract -->
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="doc_title">Title</label>
                <input id="doc_title" class="form-control" name="title" type="text" placeholder="title"/>
            </div>
            <div class="form-group">
                <label for="doc_subtitle">subtitle</label>
                <input id="doc_subtitle" class="form-control" name="Subtitle" type="text" placeholder="subtitle"/>
            </div>

            <div class="form-group">
                <label for="doc_author">Author</label>
                <input id="doc_author" class="form-control" name="author" type="text" placeholder="author"/>
            </div>
        </div>
        <!-- abstract section -->
        <div class="col-md-8">
            <!-- <div class="note-editable" contenteditable="true"></div> -->
            <div class="form-group">
                <label for="doc_abstract"> abstract</label>
                <textarea class="form-control" name="simon" id="doc_abstract" cols="30" rows="10"></textarea>
            </div>
        </div>
    </div>
    <!-- tags -->
    <div class="row">
        <div class="col-md-12">
            <label for="">Tags</label>

            <div class="panel panel-default">
                <div class="panel-body" contenteditable="true">
                    tags goes here
                </div>
            </div>
        </div>
    </div>
    <!-- editor -->
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="">Body</label> <br/>

                <!-- Text editor bar -->
                <div class="form-group">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-font"><a
                                href="#"></a></span>
                        </button>
                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-bold"><a
                                href="#"></a></span>
                        </button>
                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-italic"><a
                                href="#"></a></span>
                        </button>
                        <button type="button" class="btn btn-default"><span><b>U</b><a href="#"></a></span>
                        </button>

                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    aria-expanded="false">
                                <span class="glyphicon glyphicon-header"></span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">H1</a></li>
                                <li><a href="#">H2</a></li>
                                <li><a href="#">H3</a></li>
                            </ul>
                        </div>

                    </div>


                    <div class="btn-group" role="group" aria-label="..">

                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-picture"><a
                                href="#"></a></span>
                        </button>
                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-link"><a
                                href="#"></a></span>
                        </button>
                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-minus"><a
                                href="#"></a></span>
                        </button>

                    </div>
                </div>
                <div contenteditable="true" ng-model="content" style="min-height: 300px; background: #ffffff"></div>
            </div>
        </div>
    </div>

    <!-- {{ content }} -->


    <!-- submit buttons -->
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
                <button type="button" type="submit" class="btn btn-primary btn-lg btn-block">Add Documentation</button>
            </div>

        </div>
    </div>

    <!-- d70a16 -->
    <!-- live preview -->
    <div ng-controller="AppController">
        <div class="row">
            <button type="button" ng-click="formatText('bold')">B</button>
            <button type="button" ng-click="formatText('italic')">I</button>
            <button type="button" ng-click="formatText('justifyCenter')">center</button>
            <button type="button" ng-click="formatText('undo')">undo</button>
            <button type="button" ng-click="formatText('redo')">redo</button>
            <button type="button" ng-click="formatText('h1')">h1</button>
            <button type="button" ng-click="formatText('h2')">h2</button>
            <button type="button" ng-click="formatText('insertHorizontalRule')">rule</button>
            <button type="button" ng-click="formatText('insertHTML')">html</button>
            <button type="button" ng-click="formatText('insertImage')">html</button>
            <div class="col-md-12">
                <div class="container-fluid">
                    <div contenteditable="true" ng-model="content" style="min-height: 300px; background: #ffffff" ng-bind-html="dhtml()"></div>
                    <div>{{content}}</div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function b() {
            document.execCommand("bold", false, null);
        }
    </script>

</div>
<footer footer></footer>
</body>
</html>