<!DOCTYPE html>
<html ng-app="CMSApp" ng-controller="DocController">
<head lang="en">
    <meta charset="UTF-8">


    <!-- //TODO: set the files to file.min.extension before we publish-->
    <script src="../vendor/jquery/dist/jquery.js"></script>
    <script src="../vendor/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../vendor/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="../stylesheets/style.css"/>
    <script src="../vendor/angular/angular.js"></script>

    <!--textAngular wysiwyg -->
    <script src="../vendor/textAngular/src/textAngularSetup.js"></script>
    <script src="../vendor/textAngular/src/textAngular.js"></script>
    <script src="../vendor/textAngular/src/textAngular-sanitize.js"></script>
    <link rel="stylesheet" href="../vendor/fontawesome/css/font-awesome.css"/>

    <!-- Remember: angular first, then components files -->
    <script src="../vendor/angular-route/angular-route.js"></script>
    <script src="components/controllers.js"></script>
    <script src="components/directives.js"></script>
    <script src="components/services.js"></script>
    <script src="components/factories.js"></script>
    <script src="components/filters.js"></script>
    <script src="app.js"></script>



    <title>{{title}}</title>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav pull-left">
                <li><a id="home" href="index.html">Home</a></li>
                <li><a id="admin" href="adminpage.html">Admin</a></li>
                <li>
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">CA<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="ca1documentation.html">Assignment 1 - Chat</a></li>
                    </ul>
                </li>
                <li><a id="projects" href="loadAllPersons.html">ERP</a></li>
                <li><a href="http://g5node.azurewebsites.net">Business System</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">G5 Members <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="members/simon.html"><span class="glyphicon glyphicon-user"></span> Simon</a></li>
                    </ul>
                </li>
                <li><a href="downloads.html"> <span class="glyphicon glyphicon-download-alt"></span>Downloads</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">
    <!-- title, subtitle, author and abstract -->
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="doc_title">Title</label>
                <input id="doc_title" class="form-control" name="title" type="text" placeholder="title"/>
            </div>
            <div class="form-group">
                <label for="doc_subtitle">subtitle</label>
                <input id="doc_subtitle" class="form-control" name="Subtitle" type="text" placeholder="subtitle"/>
            </div>

            <div class="form-group">
                <label for="doc_author">Author</label>
                <input id="doc_author" class="form-control" name="author" type="text" placeholder="author"/>
            </div>
        </div>
        <!-- abstract section -->
        <div class="col-md-8">
            <!-- <div class="note-editable" contenteditable="true"></div> -->
            <div class="form-group">
                <label for="doc_abstract"> abstract</label>
                <textarea class="form-control" name="simon" id="doc_abstract" cols="30" rows="10"></textarea>
            </div>
        </div>
    </div>
    <!-- tags -->
    <div class="row">
        <div class="col-md-12">
            <label for="">Tags</label>

            <div class="panel panel-default">
                <div class="panel-body" contenteditable="true">
                    tags goes here
                </div>
            </div>
        </div>
    </div>
    <!-- editor -->
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="">Body</label> <br/>

                <!-- Text editor bar -->
                <div style="margin-bottom: 1px">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-font"><a
                                href="#"></a></span>
                        </button>
                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-bold"><a
                                href="#"></a></span>
                        </button>
                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-italic"><a
                                href="#"></a></span>
                        </button>
                        <button type="button" class="btn btn-default"><span><b>U</b><a href="#"></a></span>
                        </button>

                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    aria-expanded="false">
                                <span class="glyphicon glyphicon-header"></span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">H1</a></li>
                                <li><a href="#">H2</a></li>
                                <li><a href="#">H3</a></li>
                            </ul>
                        </div>

                    </div>


                    <div class="btn-group" role="group" aria-label="...">

                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-picture"><a
                                href="#"></a></span>
                        </button>
                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-link"><a
                                href="#"></a></span>
                        </button>
                        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-minus"><a
                                href="#"></a></span>
                        </button>

                    </div>
                </div>

                <div contenteditable="true" ng-model="content" style="min-height: 300px; background: #ffffff"></div>
            </div>
        </div>
    </div>

    Content:
    {{ content }}

    <!-- live preview -->
    <div class="row">
        <div class="col-md-12">
            <div class="container-fluid">
                <div>{{text}}</div>
            </div>
        </div>
    </div>

    <!-- -------------------------------- JUST TEMP - DELETE AT SOME POINT --------------------------- -->
    <h1>Just temp!</h1>

    <text-angular ng-model="body" ></text-angular>

    <!-- submit buttons -->
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
                <button type="button" ng-click="loog()" type="submit" class="btn btn-primary btn-lg btn-block">Add Documentation</button>
            </div>

        </div>
    </div>
    <!-- comment section -->
    <div class="row">
        <div class=" col-md-offset-2 col-md-8">
            <div class="container-fluid">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-text">Dapibus ac facilisis in</li>
                </ul>
            </div>
        </div>
    </div>

</div>
</body>
</html>