<div class="container">

    <button ng-click="GoToDocumentEditor()" class="btn btn-default"
            type="button">Create new Document
    </button>
    <hr/>
    <div ng-repeat="document in documents">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-sm-8 col-md-8">
                        <h3>{{document.title}} <small> {{document.timestamp | date:'yyyy-MM-dd'}} </small></h3>

                        <p>{{document.abstract}}</p>
                        <a href="#/viewDocument/{{document.doc_id}}">read more</a>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div>
                            <button ng-click="editDocument(document.doc_id)" class="btn btn-default btn-block"
                                    type="button">Edit
                            </button>
                            <button ng-click="deleteDocument(document.doc_id)" class="btn btn-danger btn-block"
                                    type="button">Delete
                            </button>
                            <input id="c1" type="checkbox" value="" ng-checked="document.pinned" ng-disabled="true">
                            <label class="checkbox" for="c1"><span></span>Pinned to frontpage </label>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

