<div class="container">
    <h2>Dashboard</h2>
    <hr/>
    <div class="row">
        <div class="col-md-7">
            <div class="well">To the Editors</div>
            <h4>Documents</h4>
            <a href="#/projectCreator" class="btn btn-default btn-block" role="button">New Document</a>
            <a href="#/cmsList" class="btn btn-default btn-block" role="button">All Documents</a>
            <hr/>
            <h4>Downloads</h4>
            <a href="#/downloadCreator" class="btn btn-default btn-block" role="button">New Download</a>
            <hr/>
            <h4>Profiles</h4>
            <a href="#/profileCreator" class="btn btn-default btn-block" role="button">New Profile</a>
            <a href="#" class="btn btn-default btn-block" role="button">Profile list</a>

        </div>
        <div class="col-md-5">
            <div class="well">Created downloads</div>
            <ul class="list-group" ng-repeat="download in downloads">
                <li class="list-group-item">
                    <button class="btn btn-warning" ng-click="deleteDownload(download.download_id)">Delete</button>
                    <button class="btn btn-info" ng-click="editDownload(download.download_id)">Edit</button>
                    <span style="margin-left: 30px">{{download.download_id}} - {{download.title}}</span>
                </li>
            </ul>
            <div class="well">File Uploader</div>

            <a href="/fileuploader" target="_blank" class="btn btn-info btn-block">Open Uploader in new tab</a>

        </div>
    </div>
</div>