<!-- editor -->
<div class="container">
    <h2>Document creator</h2>
    <hr/>
    <div class="row">
        <div ace-editor content-field="document.body"></div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <!-- Title -->
                <label>Title</label>
                <input ng-model="document.title" class="form-control" name="title" type="text" required/>
            </div>
            <div class="form-group">
                <!-- Subtitle -->
                <label>Subtitle</label>
                <input ng-model="document.subtitle" class="form-control" name="Subtitle" type="text" required/>
            </div>

            <div class="form-group">
                <!-- Author -->
                <label>Author</label>
                <input ng-model="document.author" class="form-control" name="author" type="text" required/>
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <!-- Abstract -->
                <label> Abstract</label>
                <textarea ng-model="document.abstract" class="form-control" name="abstract" cols="30"
                          rows="10"></textarea>
            </div>
        </div>
    </div>
    <!-- tags -->
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Image Links</label>
                <input ng-model="document.tags" class="form-control" name="tags" type="text" required>
                <input id="c1" type="checkbox" value="" ng-checked="document.pinned" ng-click="togglePinSelection()">
                <label class="checkbox" for="c1"><span></span>{{pinMessage}}</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="form">
                <button type="button" ng-click="createDoc()" ng-hide="editMode"
                        class="btn btn-primary btn-block">
                    Add
                </button>
                <button type="button" ng-click="saveDoc()" ng-show="editMode"
                        class="btn btn-success btn-block">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>