body {
    margin: 0;
    padding: 0;
}

/* Ace editor section  */

.ace-body {
    border: 1px dashed #ccc;
    min-height: 400px;
    outline: none;
}

/* Ace editor section  */

.document {
    padding: 10px;
}

.footer {
    margin-top: 50px;
    border-top: 1px solid #f3ecee;
    padding-top: 10px;
    background-color: #f8f8f8;
}

.presentation-body {
    padding-top: 100px;
    background-color: rgb(44, 191, 229);
    position: relative;
    top:-80px;
    z-index: -100;
}

.presentation-text {
    text-align: center;
    margin-bottom: 25px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: lighter;
    color: #ffffff;
}

.presentation-text p {
    font-size: 30px;
}

.presentation-text h1 {
    font-weight: lighter;
    font-size: 70px;
}

.form-signin, p, .checkbox, .btn{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}


.login-box{
    padding: 20px 15px 30px 15px;
    background: #ffffff;
}


input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label span {
    display: inline-block;
    cursor: pointer;
    width: 19px;
    height: 19px;
    vertical-align: middle;
    margin: -1px 4px 0 0;
    border: 1px solid #c9cbcc;
}

input[type="checkbox"]:checked + label span {
    background: #c9cbcc;
}