<div class="presentation-body">
    <div class="container">
        <div class="presentation-text">
            <h1>Gang of Five</h1>
        </div>
        <div class="gbackground">
            <img src="uploads/image/png/1418510181933_g5-logo.png" class="img-responsive" alt=""/>
        </div>
        <div class="presentation-text">
            <p>The awesome team who brought you the G5 chat</p>
        </div>
    </div>
</div>

<div ng-repeat="document in pinnedDocuments" ng-class="{even: $even, odd: $odd}">
    <div class="container" ng-if="$even">
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-9">
                <h2 class="featurette-heading">
                    {{document.title}}
                </h2>

                <p class="lead">
                    {{document.abstract}}
                </p>

                <p>
                    <a href="#/viewDocument/{{document.doc_id}}">read more</a>
                </p>
            </div>
            <div class="col-md-3" style="padding-top: 100px">
                <img ng-if="hasImg($index)" class="documentImage img-responsive" ng-src="{{document.images[0]}}"
                     style="max-height: 200px; max-width: 200px;"/>
            </div>
        </div>
    </div>
    <div class="container" ng-if="$odd">
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-3" style="padding-top: 100px">
                <img ng-if="hasImg($index)" class="documentImage img-responsive" ng-src={{document.images[0]}}
                     style="max-height: 200px; max-width: 200px;"/>
            </div>
            <div class="col-md-9">
                <h2 class="featurette-heading">
                    {{document.title}}
                </h2>

                <p class="lead">
                    {{document.abstract}}
                </p>

                <p>
                    <a href="#/viewDocument/{{document.doc_id}}">read more</a>
                </p>
            </div>

        </div>
    </div>

</div>
