<div class="presentation-body">
    <div class="container">
        <div class="presentation-text">
            <h1>Gang of Five</h1>
        </div>
        <div class="presentation-text">
            <p>The awesome team who brought you the G5 chat</p>
        </div>
    </div>
</div>

<div class="container">
    <div ng-repeat="document in pinnedDocuments">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-sm-8 col-md-8">
                        <h3>{{document.title}}</h3>

                        <p>{{document.abstract}}</p>
                        <a href="#/viewDocument/{{document.doc_id}}">read more</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--
<div class="container" ng-repeat="document in pinnedDocuments">
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-3" style="padding-top: 100px">
        </div>
        <div class="col-md-9">
            <h2 class="featurette-heading">
                {{document.title}}
            </h2>
            <p class="lead">
                {{document.abstract}}
                <a
                        href="https://github.com/CodingCo/AngryPedia">github </a>
                and be amazed by the pure awesomeness of the tests and code.
                But there is more! Believe it or not, our performance this time reach heights, even the dreamt of
                japanease
                space elevater can't reach, and stronger than a programmers coffey.
            </p>

            <p>
                To see our wikipedia <a href="http://g5node.azurewebsites.net">AngryPedia</a>
            </p>

            <p>
                Also available on <a href="https://github.com/CodingCo/AngryPedia">GitHub</a>
            </p>
        </div>

    </div>
</div>
-->



<div class="container">
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-3" style="padding-top: 100px">
        </div>
        <div class="col-md-9">
            <h2 class="featurette-heading">
                The AngryPedia MEAN Stack
            </h2>
            <p class="lead">
                Since the latest, "latest awesome stuff", now comes the even better and even more "latest" awesome stuff
                from the new and improved G5, sort of like a G5 reloaded. This time we improved our portfolio with a top
                of the line application, build on the classic MEAN stack.
                The project is called AngryPedia, hence it will proberbly pi** off users, due to
                the fact we dont have anymore information than titles and abstracts.
                But we are not here for the content and enlightenment of humankind, but for the code.. So look it up on
                <a
                        href="https://github.com/CodingCo/AngryPedia">github </a>
                and be amazed by the pure awesomeness of the tests and code.
                But there is more! Believe it or not, our performance this time reach heights, even the dreamt of
                japanease
                space elevater can't reach, and stronger than a programmers coffey.
            </p>

            <p>
                To see our wikipedia <a href="http://g5node.azurewebsites.net">AngryPedia</a>
            </p>

            <p>
                Also available on <a href="https://github.com/CodingCo/AngryPedia">GitHub</a>
            </p>
        </div>

    </div>
</div>
