<div class="container">
    <h2 class="text-center">Sign in</h2>
    <div class="row">
        <div class=" col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
            <div class="login-box">
                <form class="form-signin" role="form">
                    <input ng-model="user.username" type="text" class="form-control" placeholder="username"
                           autofocus>
                    <input ng-model="user.password" type="password" class="form-control" value="123">
                    <input id="c1" type="checkbox" value="remember-me">
                    <label class="checkbox" for="c1"><span></span>Remember me</label>
                    <button class="btn btn-lg btn-primary btn-block" ng-disabled="submited" type="submit" ng-click="submit()">Sign in
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
